{% extends 'base.html.twig' %}

{% block content %}
    <h1>Création groupe</h1>

    {# {{ form(groupForm) }} #}

    {{ form_start(groupForm) }}

    <div class="customField">
        {{ form_row(groupForm.nom) }}
    </div>
    <div class="customField">
        {{ form_row(groupForm.photo) }}
    </div>
    <div class="customField">
        {{ form_row(groupForm.users) }}
    </div>



    {{ form_end(groupForm) }}
{% endblock %}
