{% extends 'base.html.twig' %}

{% block content %}

    <h1>Vos messages</h1>

    {% for key, groupe in messages %}
        {{ key }}
        <br>
        {% for message in groupe %}
            {{ message.user.username }} :
            {{ message.content }}<br>

        {% endfor %}
        <br>
    {% endfor %}

    {{ form_start(messageForm) }}

    {{ form_end(messageForm) }}
{% endblock %}




{% block javascripts %}
    <script>
        $.ajax({
            type: "POST",
            url: "{{ path('messagerie') }}",
            data: groupe,
            dataType: "json",
            success: function(data){
                alert("good");
            }
        });
    </script>
{% endblock %}